.black-jack {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 24px 12px;
    width: 100vw;
  }
  
  .black-jack__header {
    display: flex;
    font-size: 36px;
    justify-content: center;
  }
  
  .black-jack__customer-options {
    display: flex;
  }
  
  .black-jack__button_group {
    display: flex;
    justify-content: space-around;
    margin: 16px 0;
    width: 500px;
  }
  
  .black-jack__button_hit {
    background-color: #61dafb;
    border-radius: 6px;
    cursor: pointer;
    padding: 2px 4px;
    text-align: center;
    width: 120px;
  }
  
  .black-jack__button_stand {
    background-color: aquamarine;
    border-radius: 6px;
    cursor: pointer;
    padding: 2px 4px;
    text-align: center;
    width: 120px;
  }
  
  .black-jack__cards_table {
    background-color: forestgreen;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 24px;
    margin: 24px;
    border-radius: 6px;
  }
  
  .black-jack__render-cards {
    display: flex;
  }
  
  .black-jack__card {
    padding: 4px 2px;
  }
  
  .black-jack__card-img {
    width: 235px;
    height: 312px;
  }
  
  .black-jack__result {
    background-color: aqua;
    color: #464646;
    display: flex;
    height: 100vh;
    justify-content: center;
    opacity: .2;
    position: absolute;
    width: 100vw;
  }
  
  .black-jack__winner {
    align-items: center;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    height: 100vh;
    opacity: 0.5;
    position: fixed;
    width: 100vw;
  }
  
  .black-jack__one_more {
    display: flex;
    justify-content: center;
    background-color: #61dafb;
    border-radius: 6px;
    cursor: pointer;
    padding: 2px 4px;
    width: 320px;
  }
  
  .black-jack_show_card {
    background-color: aquamarine;
    border-radius: 6px;
    cursor: pointer;
    margin: 12px 24px;
    padding: 2px 4px;
    text-align: center;
    width: 240px;
  }